<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from homesearch.kaththemes.com/html/19-homesearch-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 24 Aug 2017 09:09:14 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
    
    <title>HomeSearch - A RealEstate HTML5 Template</title>

    <meta name="keywords" content="Clean design, flat design, modern design, real estate, real estate agent, real estate for sale, real estate listings, real estate html template, real estate websites, realestate agency, realtor, rentals, responsive realestate website template">
    <meta name="description" content=" HomeSearch is a versatile and visually stunning PSD Template which is crafted with care for property listing portal, as well as agent and real estate agency’s website.">
    <meta name="author" content="">

    {{>headerTop}}
</head>

<body>
     {{>headerTwo}}
    <!--header-->

    <main class="pri-pad">  
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 text-center mb-90"> 
                     <div class="content-wrap mb-50">
                         <figure class="mb-40 four-img"><img src="assets/images/404.png" alt=""></figure>
                         <h3>Sorry, but the requested page does not exist.</h3>
                         <p>
                             The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
                         </p>
                     </div> 

                    <a href="/" class="btn btn-sucess shadow faa-parent animated-hover">
                       Back to home <i class="fa fa-long-arrow-right faa-passing"></i>
                    </a>
                </div>
            </div>
            <!--top-->
            
            
           
        </div> 
    </main>
   
    {{>footer}}
</body>


<!-- Mirrored from homesearch.kaththemes.com/html/19-homesearch-404.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 24 Aug 2017 09:09:19 GMT -->
</html>
