<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from homesearch.kaththemes.com/html/13-blog-01.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 24 Aug 2017 09:10:53 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    <title>HomeSearch - A RealEstate HTML5 Template</title>

    <meta name="keywords" content="Clean design, flat design, modern design, real estate, real estate agent, real estate for sale, real estate listings, real estate html template, real estate websites, realestate agency, realtor, rentals, responsive realestate website template">
    <meta name="description" content=" HomeSearch is a versatile and visually stunning PSD Template which is crafted with care for property listing portal, as well as agent and real estate agency’s website.">
    <meta name="author" content="">

    {{>headerTop}}
</head>

<body>
    {{>header}}
    <!--header-->

    <div class="banner banner2 blog-banner-full"> 
        <ul class="blog-banner">
            <li>
                <div class="banner-content">
                    <div class="wrap full">
                        <div class="inner text-white">
                            <div class="container">  
                                <span class="tag right text-uppercase primary-bg">Dec 12 2016</span>                             
                                <h2 class=" mb-10 text-white">
                                  <a href="#">Provocative Home Design Re-Shaping The Landscape</a> 
                                </h2> 
                            </div>
                        </div>
                    </div>
                </div>

                <figure class="overlay">
                    <img src="assets/images/blog-banner1.jpg" alt="">
                </figure>
            </li>
            <!--single banner-->

            <li>
                <div class="banner-content">
                    <div class="wrap full">
                        <div class="inner text-white">
                            <div class="container">  
                                <span class="tag right text-uppercase primary-bg">Dec 12 2016</span>                             
                                <h2 class=" mb-10 text-white">
                                   <a href="#">Lorem Ipsum is simply dummy text of the printing  industry.</a>
                                </h2> 
                            </div>
                        </div>
                    </div>
                </div>

                <figure class="overlay">
                    <img src="assets/images/blog-banner2.jpg" alt="">
                </figure>
            </li>
            <!--single banner-->

            <li>
                <div class="banner-content">
                    <div class="wrap full">
                        <div class="inner text-white">
                            <div class="container">  
                                <span class="tag right text-uppercase primary-bg">Dec 12 2016</span>                             
                                <h2 class=" mb-10 text-white">
                                   <a href="#">Subtly Twisting Geometry Inserted in Raw Nature</a>
                                </h2> 
                            </div>
                        </div>
                    </div>
                </div>

                <figure class="overlay">
                    <img src="assets/images/blog-banner3.jpg" alt="">
                </figure>
            </li>
            <!--single banner-->
        </ul>
    </div>
    <!--banner-->

    <main class="pri-pad bg-white">
         <section class="blog-wrap">
             <div class="container">
                 <div class="row">
                     <div class="col-md-12 col-sm-12 blog-list mb-80">
                         <div class="figure-wrap">
                             <figure class="image-effect box-shadow">
                                 <a href="#"><img src="assets/images/blog1.jpg" alt=""></a>
                             </figure>
                         </div>
                         <!--figure-->

                         <div class="wrap mb-0">
                             <span class="date">Dec 12 2016</span>
                             <h3><a href="#">Subtly Twisting Geometry Inserted in Raw Nature</a></h3>                        
                            <div class="content-wrap">
                                 <p>
                                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard this is additional information dummy text ever since the 1500s...
                                 </p>
                            </div>

                            <a href="#" class="btn btn-link faa-parent animated-hover">
                                Read more <i class="fa fa-long-arrow-right faa-passing"></i>
                            </a>
                         </div>
                         <!--wrap-->
                     </div>
                     <!--single blog-->

                     <div class="col-md-12 col-sm-12 blog-list mb-80">
                         <div class="figure-wrap">
                             <figure class="image-effect box-shadow">
                                 <a href="#"><img src="assets/images/blog2.jpg" alt=""></a>
                             </figure>
                         </div>
                         <!--figure-->

                         <div class="wrap mb-0">
                             <span class="date">Dec 12 2016</span>
                             <h3><a href="#">Subtly Twisting Geometry Inserted in Raw Nature</a></h3>                        
                            <div class="content-wrap">
                                 <p>
                                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard this is additional information dummy text ever since the 1500s...
                                 </p>
                            </div>

                            <a href="#" class="btn btn-link faa-parent animated-hover">
                                Read more <i class="fa fa-long-arrow-right faa-passing"></i>
                            </a>
                         </div>
                         <!--wrap-->
                     </div>
                     <!--single blog-->

                      <div class="col-md-12 col-sm-12 blog-list mb-80">
                         <div class="figure-wrap">
                             <figure class="image-effect box-shadow">
                                 <a href="#"><img src="assets/images/blog3.jpg" alt=""></a>
                             </figure>
                         </div>
                         <!--figure-->

                         <div class="wrap mb-0">
                             <span class="date">Dec 12 2016</span>
                             <h3><a href="#">Subtly Twisting Geometry Inserted in Raw Nature</a></h3>                        
                            <div class="content-wrap">
                                 <p>
                                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard this is additional information dummy text ever since the 1500s...
                                 </p>
                            </div>

                            <a href="#" class="btn btn-link faa-parent animated-hover">
                                Read more <i class="fa fa-long-arrow-right faa-passing"></i>
                            </a>
                         </div>
                         <!--wrap-->
                     </div>
                     <!--single blog-->

                     <div class="col-md-12 col-sm-12 blog-list mb-80">
                         <div class="figure-wrap">
                             <figure class="image-effect box-shadow">
                                 <a href="#"><img src="assets/images/blog4.jpg" alt=""></a>
                             </figure>
                         </div>
                         <!--figure-->

                         <div class="wrap mb-0">
                             <span class="date">Dec 12 2016</span>
                             <h3><a href="#">Subtly Twisting Geometry Inserted in Raw Nature</a></h3>                        
                            <div class="content-wrap">
                                 <p>
                                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard this is additional information dummy text ever since the 1500s...
                                 </p>
                            </div>

                            <a href="#" class="btn btn-link faa-parent animated-hover">
                                Read more <i class="fa fa-long-arrow-right faa-passing"></i>
                            </a>
                         </div>
                         <!--wrap-->
                     </div>
                     <!--single blog-->

                      <div class="col-md-12 col-sm-12 blog-list mb-80">
                         <div class="figure-wrap">
                             <figure class="image-effect box-shadow">
                                 <a href="#"><img src="assets/images/blog5.jpg" alt=""></a>
                             </figure>
                         </div>
                         <!--figure-->

                         <div class="wrap mb-0">
                             <span class="date">Dec 12 2016</span>
                             <h3><a href="#">Subtly Twisting Geometry Inserted in Raw Nature</a></h3>                        
                            <div class="content-wrap">
                                 <p>
                                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard this is additional information dummy text ever since the 1500s...
                                 </p>
                            </div>

                            <a href="#" class="btn btn-link faa-parent animated-hover">
                                Read more <i class="fa fa-long-arrow-right faa-passing"></i>
                            </a>
                         </div>
                         <!--wrap-->
                     </div>
                     <!--single blog-->

                     <div class="col-md-12 col-sm-12 blog-list mb-80">
                         <div class="figure-wrap">
                             <figure class="image-effect box-shadow">
                                 <a href="#"><img src="assets/images/blog6.jpg" alt=""></a>
                             </figure>
                         </div>
                         <!--figure-->

                         <div class="wrap mb-0">
                             <span class="date">Dec 12 2016</span>
                             <h3><a href="#">Subtly Twisting Geometry Inserted in Raw Nature</a></h3>                        
                            <div class="content-wrap">
                                 <p>
                                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard this is additional information dummy text ever since the 1500s...
                                 </p>
                            </div>

                            <a href="#" class="btn btn-link faa-parent animated-hover">
                                Read more <i class="fa fa-long-arrow-right faa-passing"></i>
                            </a>
                         </div>
                         <!--wrap-->
                     </div>
                     <!--single blog-->
                 </div>

                 <div class="row">
                     <div class="col-md-12 col-sm-12 text-center">
                        <a href="#" class="btn btn-sucess btn-lg shadow faa-parent animated-hover">
                           Load more post <i class="fa fa-long-arrow-right faa-passing"></i>
                        </a> 
                     </div>
                 </div>
                 <!--button wrap-->
             </div>
         </section>
         <!--blog wrap-->
    </main>
    <!--main-->
    {{>footer}}
</body>
</html>
