<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />

    <title>HomeSearch</title>    

    <meta name="keywords" content="Clean design, flat design, modern design, real estate, real estate agent, real estate for sale, real estate listings, real estate html template, real estate websites, realestate agency, realtor, rentals, responsive realestate website template">
    <meta name="description" content=" HomeSearch is a versatile and visually stunning PSD Template which is crafted with care for property listing portal, as well as agent and real estate agency’s website.">
    <meta name="author" content="">

    {{>headerTop}}

</head>

<body>
    {{>header}}
    <!--header-->

    <div class="banner overlay">
        <div class="banner-content">
            <div class="wrap">
                <div class="inner text-white">
                    <h1 class="lh-normal mb-10 text-white text-center hide-mobile">
                        Discover your dream home to live
                    </h1>

                    <form action="#" class="form-inline">
                        <div class="form-group select">
                            <select name="category">
                                <option>For Sale</option>
                                <option>For Rent</option>
                            </select>
                        </div>
                        <!--select-->

                        <div class="form-group keyword">
                            <input type="text" placeholder="Enter your keywords">
                        </div>
                        <!--keyword-->

                        <div class="form-group">
                            <button type="submit">Search <i class="fa fa-long-arrow-right"></i></button>
                        </div>
                        <!--button-->
                    </form>
                </div>
            </div>
        </div>
        <!--banner content-->

        <ul class="banner-slide">
            <li><figure><img src="assets/images/banner-slide1.jpg" alt=""></figure></li>
            <li><figure><img src="assets/images/banner-slide2.jpg" alt=""></figure></li>
            <li><figure><img src="assets/images/banner-slide3.jpg" alt=""></figure></li>
        </ul>
    </div>
    <!--banner-->

    <main class="pri-pad pb-0">
        <section class="featured-block pri-pad-b">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="main-title text-center">
                            <h2>Featured best real estate deals</h2>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
                            </p>
                        </div>
                    </div>
                </div>
                <!--title-->

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="featured-wrap mb-30">
                            <a href="#" class="link-overlay"></a>
                            <span class="tag left text-uppercase bg-dark">featured</span>
                            <a href="#" class="tag right text-uppercase bg-blue">for sale</a>
                            
                            <div class="content-wrap mb-0 text-white">
                                <div class="title-wrap">
                                    <h4 class="mb-0 text-white">Gardening Eve 1201</h4>
                                    <span>New York / Manhattan</span>
                                </div>
                                <div class="price-tag price">
                                    $570,000
                                </div>
                            </div>

                            <figure class="image-effect overlay">
                                <img src="assets/images/featured1.jpg" alt="">
                            </figure>
                            <!--fig-->
                        </div>
                    </div>
                    <!--single featured-->

                    <div class="col-md-6 col-sm-6">
                        <div class="featured-wrap mb-30">
                            <a href="#" class="link-overlay"></a>
                            <span class="tag left text-uppercase bg-dark">featured</span>
                            <a href="#" class="tag right text-uppercase bg-blue">for sale</a>
                            
                            <div class="content-wrap mb-0 text-white">
                                <div class="title-wrap">
                                    <h4 class="mb-0 text-white">Gardening Eve 1201</h4>
                                    <span>New York / Manhattan</span>
                                </div>
                                <div class="price-tag price">
                                    $570,000
                                </div>
                            </div>

                            <figure class="image-effect overlay">
                                <img src="assets/images/featured2.jpg" alt="">
                            </figure>
                            <!--fig-->
                        </div>
                    </div>
                    <!--single featured-->

                    <div class="col-md-4 col-sm-4">
                        <div class="featured-wrap mb-30">
                            <a href="#" class="link-overlay"></a>
                            <span class="tag left text-uppercase bg-dark">featured</span>
                            <a href="#" class="tag right text-uppercase primary-bg">for sale</a>
                            
                            <div class="content-wrap mb-0 text-white">
                                <div class="title-wrap">
                                    <h5 class="mb-0 text-white">Gardening Eve 1201</h5>
                                    <span>New York / Manhattan</span>
                                </div>
                                <div class="price-tag price">
                                    $570,000
                                </div>
                            </div>

                            <figure class="image-effect overlay">
                                <img src="assets/images/featured3.jpg" alt="">
                            </figure>
                            <!--fig-->
                        </div>
                    </div>
                    <!--single featured-->

                    <div class="col-md-4 col-sm-4">
                        <div class="featured-wrap mb-30">
                            <a href="#" class="link-overlay"></a>
                            <span class="tag left text-uppercase bg-dark">featured</span>
                            <a href="#" class="tag right text-uppercase primary-bg">for sale</a>
                            
                            <div class="content-wrap mb-0 text-white">
                                <div class="title-wrap">
                                    <h5 class="mb-0 text-white">Gardening Eve 1201</h5>
                                    <span>New York / Manhattan</span>
                                </div>
                                <div class="price-tag price">
                                    $570,000
                                </div>
                            </div>

                            <figure class="image-effect overlay">
                                <img src="assets/images/featured4.jpg" alt="">
                            </figure>
                            <!--fig-->
                        </div>
                    </div>
                    <!--single featured-->

                    <div class="col-md-4 col-sm-4">
                        <div class="featured-wrap mb-30">
                            <a href="#" class="link-overlay"></a>
                            <span class="tag left text-uppercase bg-dark">featured</span>
                            <a href="#" class="tag right text-uppercase primary-bg">for sale</a>
                            
                            <div class="content-wrap mb-0 text-white">
                                <div class="title-wrap">
                                    <h5 class="mb-0 text-white">Gardening Eve 1201</h5>
                                    <span>New York / Manhattan</span>
                                </div>
                                <div class="price-tag price">
                                    $570,000
                                </div>
                            </div>

                            <figure class="image-effect overlay">
                                <img src="assets/images/featured5.jpg" alt="">
                            </figure>
                            <!--fig-->
                        </div>
                    </div>
                    <!--single featured-->
                </div>
                <!--featred property wrap-->

                <div class="btn-wrap text-center">
                    <a href="#" class="btn btn-sucess btn-lg shadow faa-parent animated-hover">
                        More Properties <i class="fa fa-long-arrow-right faa-passing"></i>
                    </a>
                </div>
            </div>
        </section>
        <!--featured property-->

        <section class="service-block">
            <div class="col-md-5 col-sm-5 p-0 image-wrap">
                <img src="assets/images/couple.jpg" alt="">
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-7 pull-right right-block">
                        <div class="main-title text-center full">
                            <h2>Services we offer</h2>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
                            </p>
                        </div>
                        <!--title-->

                        <ul class="service-list">
                            <li>
                                <span class="icon"><img src="assets/images/home-icon.png" alt=""></span>
                                <h5>Find properties </h5>
                                <p>Lorem Ipsum is simply dummy text the printing and type.</p>
                            </li>
                            <!--single service-->

                            <li>
                                <span class="icon"><img src="assets/images/rent-icon.png" alt=""></span>
                                <h5>Buy or rent properties </h5>
                                <p>Lorem Ipsum is simply dummy text the printing and type.</p>
                            </li>
                            <!--single service-->

                            <li>
                                <span class="icon"><img src="assets/images/agent-icon.png" alt=""></span>
                                <h5>We have expert agents</h5>
                                <p>Lorem Ipsum is simply dummy text the printing and type.</p>
                            </li>
                            <!--single service-->

                            <li>
                                <span class="icon"><img src="assets/images/list-icon.png" alt=""></span>
                                <h5>List properties</h5>
                                <p>Lorem Ipsum is simply dummy text the printing and type.</p>
                            </li>
                            <!--single service-->
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!--service block-->

        <section class="near-by-property primary-bg pri-pad text-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="main-title text-white text-center">
                            <h2>Explore nearby neighborhood</h2>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
                            </p>
                        </div>
                    </div>
                </div>
                <!--title-->

                <div class="row">
                    <div class="col-md-4 col-sm-4 mb-30"> 
                        <div class="near-by-wrap">
                            <a href="#" class="link-overlay"></a>
                            <div class="content-wrap mb-0 text-white">
                                <div class="inner">
                                    <div class="title-wrap">
                                        <h4 class="mb-0 text-white">Los Angeles</h4>
                                        <span class="tag primary-bg">1023 Properties</span>
                                    </div>
                                </div>
                            </div>

                            <figure class="image-effect overlay">
                                <img src="assets/images/near-by-1.jpg" alt="">
                            </figure>
                            <!--fig-->
                        </div> 
                    </div>
                    <!--single property-->

                    <div class="col-md-8 col-sm-8 mb-30"> 
                        <div class="near-by-wrap">
                            <a href="#" class="link-overlay"></a>
                            <div class="content-wrap mb-0 text-white">
                                <div class="inner">
                                    <div class="title-wrap">
                                        <h4 class="mb-0 text-white">Washington, D.C.</h4>
                                        <span class="tag primary-bg">2372 Properties</span>
                                    </div>
                                </div>
                            </div>

                            <figure class="image-effect overlay">
                                <img src="assets/images/near-by-3.jpg" alt="">
                            </figure>
                            <!--fig-->
                        </div> 
                    </div>
                    <!--single property-->

                    <div class="col-md-8 col-sm-8"> 
                        <div class="near-by-wrap">
                            <a href="#" class="link-overlay"></a>
                            <div class="content-wrap mb-0 text-white">
                                <div class="inner">
                                    <div class="title-wrap">
                                        <h4 class="mb-0 text-white">New York</h4>
                                        <span class="tag primary-bg">2372 Properties</span>
                                    </div>
                                </div>
                            </div>

                            <figure class="image-effect overlay">
                                <img src="assets/images/near-by-2.jpg" alt="">
                            </figure>
                            <!--fig-->
                        </div> 
                    </div>
                    <!--single property-->

                    <div class="col-md-4 col-sm-4"> 
                        <div class="near-by-wrap">
                            <a href="#" class="link-overlay"></a>
                            <div class="content-wrap mb-0 text-white">
                                <div class="inner">
                                    <div class="title-wrap">
                                        <h4 class="mb-0 text-white">South Carolina</h4>
                                        <span class="tag primary-bg">1023 Properties</span>
                                    </div>
                                </div>
                            </div>

                            <figure class="image-effect overlay">
                                <img src="assets/images/near-by-4.jpg" alt="">
                            </figure>
                            <!--fig-->
                        </div> 
                    </div>
                    <!--single property-->
                </div>
            </div>
        </section>
        <!--near by -->

        <section class="agent-block pri-pad">
            <div class="container">
                <div class="row mb-45">
                    <div class="col-md-12 col-sm-12">
                        <div class="main-title text-center">
                            <h2>Meet our agent</h2>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
                            </p>
                        </div>
                    </div>
                </div>
                <!--title-->

                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="agent-title mb-15">
                            <h4 class="mb-0 lh-normal">Jeniffer Wilson</h4>
                            <span class="agent-cat">Real Estate Agent</span>
                        </div>
                        <!--agent title-->

                        <div class="content-wrap">
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            </p>
                        </div>
                        <!--content-->

                        <div class="extra-info mb-50">
                            <a href="tel:+180038751234" class="faa-parent animated-hover">
                                <i class="fa fa-phone faa-passing"></i> 1-800-3875-1234
                            </a>
                            <a href="mailto:info@yourdomain.com" class="faa-parent animated-hover">
                                <i class="fa fa-envelope faa-passing"></i> info@yourdomain.com
                            </a>
                        </div>
                        <!--extra info-->

                        <a href="#" class="btn btn-sucess btn-lg shadow faa-parent animated-hover">
                            Contact Agent <i class="fa fa-long-arrow-right faa-passing"></i>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!--agent-->

        <section class="testimonial pri-pad">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="main-title text-center">
                            <h2>What our customers say?</h2>
                        </div>
                    </div>
                    <!--title-->

                    <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 text-center">
                        <div class="testimonail-thumb">
                          <a data-slide-index="0" href="#"><img src="assets/images/testi-thumb1.jpg" alt=""/></a>
                          <a data-slide-index="1" href="#"><img src="assets/images/testi-thumb2.jpg" alt=""/></a>
                          <a data-slide-index="2" href="#"><img src="assets/images/testi-thumb3.jpg" alt=""/></a>
                        </div>

                        <ul class="testi">
                            <li>
                                <div class="content-wrap mb-40">
                                    <p>
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                                    </p>
                                </div>

                                <div class="author lh-normal">
                                    <h6 class="lh-normal mb-5">Rosalie Wright</h6>
                                    <small>New York, USA</small>
                                </div>
                            </li>
                            <!--singel slid-->

                            <li>
                                <div class="content-wrap mb-40">
                                    <p>
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                                    </p>
                                </div>

                                <div class="author lh-normal">
                                    <h6 class="lh-normal mb-5">Rosalie Wright</h6>
                                    <small>New York, USA</small>
                                </div>
                            </li>
                            <!--singel slid-->

                            <li>
                                <div class="content-wrap mb-40">
                                    <p>
                                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.
                                    </p>
                                </div>

                                <div class="author lh-normal">
                                    <h6 class="lh-normal mb-5">Rosalie Wright</h6>
                                    <small>New York, USA</small>
                                </div>
                            </li>
                            <!--singel slid-->
                        </ul>
                    </div>
                    <!--testimonial slide-->
                </div>
            </div>
        </section>
        <!--testimonial-->

        <section class="featured-blog bg-dark pri-pad">
            <div class="col-md-8 col-sm-8 pull-right p-0">
                <div class="wrap visible-xs text-white">
                    <h2 class="text-white"> Latest from the blog</h2>
                    <div class="content-wrap">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                    </div>
                </div>
                <!--wrap-->

                <ul class="featured-blog-list">
                    <li>
                        <figure>
                            <span class="tag primary-bg text-uppercase text-white">market study</span>
                            <a href="#" class="overlay image-effect">
                                <img src="assets/images/featured-blog1.jpg" alt="">
                            </a>
                        </figure>
                        <!--fig-->

                        <div class="content-wrap">
                            <span class="date primary-color"> 12-April-2016 </span>
                            <h5 class="mb-5"><a href="#">How to get valuation for your property?</a></h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has...
                            </p>
                        </div>
                        <!--content-->

                        <a href="#" class="btn btn-lg btn-sucess faa-parent animated-hover">
                            Find Out More <i class="fa fa-long-arrow-right faa-passing"></i>
                        </a>
                    </li>
                    <!--single blog-->

                    <li>
                        <figure>
                            <span class="tag primary-bg text-uppercase text-white">market study</span>
                            <a href="#" class="overlay image-effect">
                                <img src="assets/images/featured-blog2.jpg" alt="">
                            </a>
                        </figure>
                        <!--fig-->

                        <div class="content-wrap">
                            <span class="date primary-color"> 12-April-2016 </span>
                            <h5 class="mb-5"><a href="#">How to get valuation for your property?</a></h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has...
                            </p>
                        </div>
                        <!--content-->

                        <a href="#" class="btn btn-lg btn-sucess faa-parent animated-hover">
                            Find Out More <i class="fa fa-long-arrow-right faa-passing"></i>
                        </a>
                    </li>
                    <!--single blog-->

                    <li>
                        <figure>
                            <span class="tag primary-bg text-uppercase text-white">market study</span>
                            <a href="#" class="overlay image-effect">
                                <img src="assets/images/featured-blog3.jpg" alt="">
                            </a>
                        </figure>
                        <!--fig-->

                        <div class="content-wrap">
                            <span class="date primary-color"> 12-April-2016 </span>
                            <h5 class="mb-5"><a href="#">How to get valuation for your property?</a></h5>
                            <p>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has...
                            </p>
                        </div>
                        <!--content-->

                        <a href="#" class="btn btn-lg btn-sucess faa-parent animated-hover">
                            Find Out More <i class="fa fa-long-arrow-right faa-passing"></i>
                        </a>
                    </li>
                    <!--single blog-->
                </ul>
            </div>
            <!--right-->

            <div class="container hidden-xs">
                <div class="row no-gutter">
                    <div class="col-md-4 col-sm-4 text-white p-0">
                        <div class="wrap">
                            <h2 class="text-white"> Latest from the blog</h2>
                            <div class="content-wrap">
                                <p>
                                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--left-->
                </div>
            </div>
        </section>
        <!--featured blog-->

        <section class="subscription">
            <div class="parallax-wrap">
                <div class="image overlay" data-type="background" data-speed="0">
                    <div class="stuff pri-pad">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 text-center">
                                    <div class="main-title full text-center">
                                        <h2>Join our mailing list</h2>
                                        <p>
                                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown.
                                        </p>
                                    </div>
                                    <!--title-->

                                    <form action="#" class="form-inline">
                                        <div class="form-group email">
                                            <input type="text" placeholder="enter your email address">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit">
                                                Subscribe <i class="fa fa-long-arrow-right"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--secbscription-->
    </main>
    <!--main-->

   {{>footer}}
</body>
</html>
